main {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}
.bg-image {
    width: 100%; height: 700px; 
    background-image: url("./static/images/bg.jpg");
    background-repeat: no-repeat;
  }

  #features-section {
    background-color: #2f3542;
  }
  #about-section {
    background-color: #ced6e0;
  }

  footer div {
    background-color: rgba(0, 0, 0, 0.2);
  }

  /* #questions-section {
    background-color: #2f3542;
  }

  #signs-section {
    background-color: #ced6e0;
  }

  #mtb-section {
    background-color: #FFF;
  } */
